    body {
        overflow-x: hidden;
    }
    
    .headerClass {
        position: fixed;
        width: 100%;
        top: 0;
    }
    
    .contain {
        margin: auto;
    }
    
    .imgsolo {
        width: 30%;
        height: 5%;
        margin: 2px;
    }
    
    .haut {
        margin-left: 100px;
    }
    
    .imguser {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    
    .navexpl {
        padding-left: 35px;
        margin-top: 70px;
        padding-top: 2px;
        background: rgb(41, 98, 255);
    }
    
    .ulnavli {
        text-align: center;
    }
    
    .ulnavlink {
        font-weight: 500;
        color: rgb(199, 200, 200);
    }
    
    .divsha1 {
        background-color: rgb(64, 79, 104);
        padding: 2px;
    }
    
    .divsha2 {
        margin-left: 75px;
        padding: 12px 0px;
        width: 320px;
        color: rgb(109, 109, 109);
        border-left: 3px solid red;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    .divsha3 {
        padding: 12px 0px;
        width: 320px;
        color: rgb(109, 109, 109);
    }
    
    .divsha4 {
        margin-right: 75px;
        padding: 12px 0px;
        width: 320px;
        color: rgb(109, 109, 109);
    }
    
    .divcontClass1 {
        padding: 15px 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .divcontClass2 {
        margin-top: 20px;
        padding-bottom: 30px;
    }
    
    .divcontClass3 {
        padding: 10px 10px;
        width: 900px;
        margin: auto;
    }
    
    .divcontClass4 {
        background: rgb(216, 216, 216);
        font-size: 15px;
        font-weight: bolder;
    }
    
    .divcontClass5 {
        padding: 13px 8px;
    }
    
    .divcontClass6 {
        text-decoration: none;
    }
    
    .divcenter {
        display: flex;
        margin: 20px 0px;
    }
    
    .navpage {
        margin-left: 635px;
    }
    
    .divshb {
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }